/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --sidebar-background: #f4f4f4;
  --sidebar-text-color: #000000;
  --highlight-color: #007bff;
  --link-color: #0056b3;
  --link-hover-color: #00376f;
  --menu-background-hover: #dddddd;
  --menu-background-active: #cccccc;
}

body.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --sidebar-background: #333333;
  --sidebar-text-color: #ffffff;
  --highlight-color: #1e90ff;
  --link-color: #4aa3ff;
  --link-hover-color: #1a6bb3;
  --menu-background-hover: #555555;
  --menu-background-active: #444444;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: row;
}

.sidebar {
  width: 200px;
  background-color: var(--sidebar-background);
  padding: 20px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  overflow-y: auto;
  z-index: 10;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-top: 0;
}

.sidebar .menu-item {
  margin-bottom: 10px;
  width: 100%;
}

.sidebar .menu-item a {
  text-decoration: none;
  color: var(--sidebar-text-color);
  padding: 10px;
  display: block;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.sidebar .menu-item a:hover,
.sidebar .menu-item.active a {
  background-color: var(--menu-background-hover);
  color: var(--highlight-color);
}

.sidebar .submenu-item {
  margin-left: 15px;
  font-weight: normal;
}

.sidebar .submenu-item a {
  color: var(--link-color);
  padding-left: 15px;
  font-weight: normal;
}

.sidebar .submenu-item a:hover,
.sidebar .submenu-item.active a {
  background-color: var(--menu-background-hover);
  color: var(--link-hover-color);
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
}

.theme-toggle img {
  width: 24px;
  height: 24px;
}

.menu-toggle {
  background: none;
  border: none;
  padding: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

main {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

#markdown-content {
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
}

section {
  margin-bottom: 40px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.show {
    transform: translateY(0);
  }

  .sidebar-header {
    justify-content: flex-end;
  }

  .menu-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .theme-toggle {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  main {
    padding: 15px;
  }

  #markdown-content {
    padding: 0 10px;
    margin: 0;
  }
}
